.idea
*.bak
.DS_Store

db/data

broker/data
broker/log

backend/.idea
backend/node_modules
backend/package-lock.json

frontend/node_modules
frontend/.idea
frontend/package-lock.json

frontend/serve/node_modules
frontend/serve/.idea
frontend/serve/package-lock.json

client/.idea
client/.pio
client/CMakeListsPrivate.txt
client/cmake-build-*/